<div class="container">
    <h4>Product List</h4>
    <div class="">
        <form class="form" color="primary">
            <input type="text" placeholder="Search Product" class="seachInput" [formControl]="searchControl">
            <select class="filter" [formControl]="categoryControl">
                <option value="" selected>Select Category</option>
                <option *ngFor="let category of categories" [value]="category">
                    {{ category }}
                </option>
            </select>
        </form>

    </div>
</div>

@if (products.length > 0) {
<div class="product-grid">
    <mat-card *ngFor="let product of products">
        <div class="image-wrapper">
            <img [src]="product.image" alt="{{ product.title }}">
        </div>
        <div class="detail">
            <mat-card-title>{{ product.title | slice: 0:40 }}{{product.title.length < 40 ? '' : '...'
                    }}</mat-card-title>
                    <mat-card-subtitle class="price">₹{{ product.price }}</mat-card-subtitle>
                    <mat-card-content class="description">
                        <p>{{ product.description | slice: 0:100 }}...</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-flat-button color="primary" [routerLink]="['/product', product.id]">
                            View
                        </button>
                    </mat-card-actions>
        </div>
    </mat-card>
</div>

}
@else {
<div class="blank-page">
    No Data Found
</div>
}